@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0)),
    url("https://images.unsplash.com/photo-1544197150-b99a580bb7a8?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

nav {

  display: flex;

  flex-direction: row;

  justify-content: space-between;
  justify-content: center;

  padding: 1vw 8vw;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);

  align-items: center;

  position: fixed;

  width: 100%;

  background-color: #ffff;

}




nav img {

  width: 150px;

  cursor: pointer;

}




nav .navigation ul {

  display: flex;

  justify-content: flex-end;

  align-items: center;

}




nav .navigation ul li {

  list-style: none;

  margin-top: 15px;

  margin-left: 30px;

}




nav .navigation ul li a {

  text-decoration: none;

  color: #081682;

  font-size: 100%;

  font-weight: 500;

  transition: 0.3 ease-in;

}




nav .navigation ul li a:hover {

  color: #310fab;

}

#home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
  margin-top: 120px;
}

#home {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  /* background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0)),
  url("https://images.unsplash.com/photo-1544197150-b99a580bb7a8?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-size: cover;
  background-position: center;
  overflow: auto;
}

#contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-1 {
  background-color: #d9d9d9;
  height: 360px;
  width: 350px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 8px;
  margin-top: 15px;
}

#contents img {
  width: 250px;
  height: 150px;
}

.container-1 h3 {
  font-size: 1.4rem;
  padding-top: 5px;
}

.container-2 h3 {
  font-size: 1.4rem;
  padding-top: 5px;
}

.container-3 h3 {
  font-size: 1.4rem;
  padding-top: 5px;
}

/* .container-2 {
  background-color: #d9d9d9;
  height: 360px;
  width: 350px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 8px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.container-3 {
  background-color: #d9d9d9;
  height: 360px;
  width: 350px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 8px;
} */
.container-1,.container-2,.container-3{
  background-color: #b8b3b3;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  margin: 8px;
  height: 100%;
  padding: 8px;
  text-align: center;
  align-items: center;
  overflow: auto;
  box-sizing: border-box;
}
@media (min-width: 330px) {
  .container-1,.container-2,.container-3{
    width: 100%;
  }
}
